{% extends 'base.html.twig' %}

{% block title %}Modifier le Service{% endblock %}

{% block body %}
    <h1>Modifier le service : {{ service.nom }}</h1>

    {{ include('service/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_service_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
