@charset "UTF-8";
@import "layout";

.backoffice-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.h1-bo {
    color: $color-admin;
    text-align: center;
    margin-bottom: 10px;
}

p {
    margin-bottom: 30px;
}

h2 {
    color: $color-admin;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border: 2px solid $color-admin;
    background: white;
    margin-bottom: 30px;
}

thead {
    background-color: $color-admin;
}

thead th {
    padding: 15px;
    color: white;
    text-align: center;
    border-right: 2px solid darken($color-admin, 5%);
}

thead th:last-child {
    border-right: none;
}

tbody tr {
    background-color: #e8d4f0;
}

tbody tr:nth-child(even) {
    background-color: #f0e6f7;
}

tbody td {
    padding: 15px;
    text-align: center;
    border: 1px solid #d4b5e0;
}

// Boutons
.btn {
    padding: 8px 15px;
    background-color: darken($color-admin, 5%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    transition: 0.2s;
}

.btn:hover {
    background-color: white;
    color: darken($color-admin, 5%);;
}

form {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: black;
    text-decoration: underline;
}

ul li a:hover {
    color: $color-admin;
}
