@charset "UTF-8";
@import "_layout.scss";

.navbar {
    text-align: left !important;
}

.navbar-brand img {
    width: 15%;
    height: auto;
    object-fit: contain;
    padding: 10px;
}

.navbar-brand {
    padding: 0 ;
    margin-right: 0 ;
    display: flex;
    align-items: center;
}

.navbar .nav-link {
    color: $color-text-light;
    font-size: 18px;
    font-weight: 700;
    padding: 6px 14px;
    border-radius: 6px;
    transition: 0.2s;
}

.navbar .nav-link:hover {
    background-color: $color-text-light;
}

.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.navbar-nav .nav-item {
    padding: 0 100px;
}

.footer {
    font-family: $font-base;
    font-weight: bold;
    color: $color-text-light;
    text-align: center;
    padding: 20px;
    width: 100%;
}

body.app_accueil .navbar,
body.app_accueil .footer {
    background: $color-accueil !important;
}

body.app_commande .navbar,
body.app_commande .footer {
    background: $color-reservation !important;
}

body.app_actualite .navbar,
body.app_actualite .footer {
    background: $color-actu !important;
}

body.app_backoffice .navbar,
body.app_backoffice .footer {
    background: $color-admin !important;
}

body.app_accueil .navbar .nav-link:hover {
    color: $color-accueil !important;
}

body.app_commande .navbar .nav-link:hover {
    color: $color-reservation !important;
}

body.app_actualite .navbar .nav-link:hover {
    color: $color-actu !important;
}

body.app_backoffice .navbar .nav-link:hover {
    color: $color-admin !important;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 8px;
}

.footer-section a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s;
}

.footer-section a:hover {
    background-color: white;
}

body.app_accueil .footer a:hover {
    color: $color-accueil !important;
}

body.app_commande .footer a:hover {
    color: $color-reservation !important;
}

body.app_actualite .footer a:hover {
    color: $color-actu !important;
}

body.app_backoffice .footer a:hover {
    color: $color-admin !important;
}

.footer-credits {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid white;
    margin-top: 15px;
}
