$color-accueil: #e62e16;
$color-reservation: #49C149;
$color-actu: #FCC922;
$color-admin: #993AB8;
$color-text-light: #ffffff;
$color-text-dark: #20c9df;
$btn-reservation: #E9B500;
$btn-reservation-hover: #d1a000;
$font-base: sans-serif;
