{% extends 'base.html.twig' %}

{% block title %}Créer un Créneau{% endblock %}

{% block main %}
    <h1>Créer un créneau</h1>

    {{ include('creneau/_form.html.twig', {'button_label': 'Créer'}) }}

    <a href="{{ path('app_creneau_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>

{% endblock %}
